
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        #myInput {
            box-sizing: border-box;
            font-size: 16px;
            padding: 14px 20px 12px 15px;
            border: none;
            width: 100%;
            margin-top: -10px;
        }

            #myInput:focus {
                outline: none;
            }

        .dropdown {
            position: relative;
            display: inline-block;
            color: rgb(128, 128, 128); 
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 230px;
            overflow: auto;
            z-index: 100;
            max-height: 300px;
            background-color: rgb(6, 10, 13);
            padding: 10px 10px 5px 2px;
            width: 300%;
            border-bottom: 1px solid rgb(168, 127, 24);
            border-left: 1px solid rgb(168, 127, 24);
            margin-top: 30px;
            margin-left: -70%;
            border-bottom-left-radius: 10px;
        }

            .dropdown-content a {
                color: rgb(182, 179, 179);
                font-size: 1.1em;
                margin-left: 5px;
                text-decoration: none;
                display: block;
                padding: 2px;
                border-radius: 5px;
            }

        .dropdown a:hover {
            background-color: rgb(168, 127, 24);
            text-decoration: none;
        }

        .show {
            display: block;
        }

        .dropdown input {
            background-color: rgb(13, 25, 31);
            outline: none;
            border: 0;
            border-radius: 20px;
            font-size: 17px;
            margin-left: 50px;
        }

            

        .menu-img {
            width: 25%;
            height: 70px;
            float: left;
        }
        .menu-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .menu-text {
            float: right;
            width: 70%;
            margin-left: 5px;
        }
        .menu-single-item::after {
            clear: both;
        }

        .menu-single-item {
            width: 100%;
            height: 70px;
        }

        .menu-left {
            width: 24%;
            float: left;
        }
            .menu-left p {
                color: rgb(168, 127, 24);
                text-align: center;
                position: relative;
            }
            .menu-left p::after {
                width: 35%;
                content: " ";
                position: absolute;
                bottom: 50%;
                left: 0; 
                border-bottom: 1px solid rgb(168, 127, 24);
            }

    </style>
</head>
<body>

    <div class="dropdown" id="dropdown">
        
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction();">
            <div id="myDropdown" class="dropdown-content">

                <div class="menu-left">
                    <p>Movies</p>

                    @{
                        var counter = 0;
                        foreach (var item in Model.ListOfMovies)
                        {
                            var imgPath = "~/Images/" + (item.ImageUrl ?? "NoImage.png");

                            <a asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId">
                                <div class="menu-single-item">
                                    <div class="menu-img"><img src="@imgPath" asp-append-version="true" /> </div>
                                    <div class="menu-text">@item.Title <br /> @item.ReleaseDate.Year </div>
                                </div>
                            </a>
                            if (counter == 4)
                            {
                                break;
                            }
                            counter++;
                        }
                    }
                </div>
                
                <div class="menu-left">
                    <p>TV Show</p>
                    @{
                        counter = 0;
                        foreach (var item in Model.ListOfTVShows)
                        {
                            var imgPath = "~/Images/" + (item.ImageUrl ?? "NoImage.png");

                            <a asp-controller="TVShow" asp-action="Details" asp-route-id="@item.TVShowId">
                                <div class="menu-single-item">
                                    <div class="menu-img"><img src="@imgPath" asp-append-version="true" /> </div>
                                    <div class="menu-text">@item.Title  <br /> @item.ReleaseDate.Year</div>
                                </div>
                            </a>
                            if (counter == 4)
                            {
                                break;
                            }
                            counter++;
                        }
                    }
                </div>
                
                <div class="menu-left">
                    <p>Stars</p>
                    @{
                        counter = 0;
                        foreach (var item in Model.ListOfStars)
                        {
                            var imgPath = "~/Images/" + (item.ImageUrl ?? "NoImage.png");

                            <a asp-controller="Star" asp-action="Details" asp-route-id="@item.StarId">
                                <div class="menu-single-item">
                                    <div class="menu-img"><img src="@imgPath" asp-append-version="true" /> </div>
                                    <div class="menu-text">@item.FullName</div>
                                </div>
                            </a>
                            if (counter == 4)
                            {
                                break;
                            }
                            counter++;
                        }
                    }
                </div>
                
                <div class="menu-left">
                    <p>Directors</p>
                    @{
                        counter = 0;
                        foreach (var item in Model.ListOfDirectors)
                        {
                            var imgPath = "~/Images/" + (item.ImageUrl ?? "NoImage.png");

                            <a asp-controller="Star" asp-action="Details" asp-route-id="@item.DirectorId">
                                <div class="menu-single-item">
                                    <div class="menu-img"><img src="@imgPath" asp-append-version="true" /> </div>
                                    <div class="menu-text">@item.FullName</div>
                                </div>
                            </a>
                            if (counter == 4)
                            {
                                break;
                            }
                            counter++;
                        }
                    }
                </div>
                
            </div>

            
    </div>

    <script>
        
        function filterFunction() {
            var input, filter, ul, li, a, i;   
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
              
        }


        document.addEventListener("click", function (evt) {
            var flyoutElement = document.getElementById('dropdown'),
                targetElement = evt.target;  // clicked element

            do {
                if (targetElement == flyoutElement) {
                    // This is a click inside. Do nothing, just return.
                    document.getElementById("myDropdown").style.display = "block";
                    return;
                }
                // Go up the DOM
                targetElement = targetElement.parentNode;
            } while (targetElement);

            // This is a click outside.
            document.getElementById("myDropdown").style.display = "none";
        });




    </script>

</body>
</html>