@model Model.Star

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Star</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <br /><br />
    <h4>
        Movies
    </h4><hr />

    <table class="table container">

        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Release date
                </th>
                <th>
                    Runtime
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.ListOfMovies)
            {
                <tr>
                    <td>
                        <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId">
                            @movie.Movie.Title
                        </a>
                    </td>
                    <td>
                        @foreach (var genre in movie.Movie.ListOfGenres)
                        {
                            @genre.Genre.Name @:
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => movie.Movie.ReleaseDate)
                    </td>
                    <td>
                        @movie.Movie.Runtime min
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <br /><br />
    <h4>
        TV shows
    </h4><hr />

    <table class="table container">

        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Release date
                </th>
                <th>
                    Number of episodes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tvShow in Model.ListOfTVShows)
            {
                <tr>
                    <td>
                        <a asp-controller="TVShow" asp-action="Details" asp-route-id="@tvShow.TVShowId">
                            @tvShow.TVShow.Title
                        </a>
                    </td>
                    <td>
                        @foreach (var genre in tvShow.TVShow.ListOfGenres)
                        {
                            @genre.Genre.Name @:
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => tvShow.TVShow.ReleaseDate)
                    </td>
                    <td>
                        @tvShow.TVShow.NumberOfEpisode
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
