@model Model.Star

@{
    ViewData["Title"] = "Details";
    var imgPath = "~/Images/" + (Model.Img ?? "banner1.svg");
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<ol class="breadcrumb">
    <li><a asp-action="Index">Stars</a></li>
    <li class="active">Details</li>
</ol>


<div class="details-container">

    <div class="details-title">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="details-img">
        <img src="@imgPath" asp-append-version="true" />
    </div>

    <div class="details-info">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Birth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="clear"></div>
</div>

@if (Model.ListOfMovies.Count() > 0)
{
    <div class="details-cast">

        <h5>Movies</h5>

        @foreach (var star in Model.ListOfMovies)
        {

            <div class="details-cast-img">
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@star.Movie.MovieId">
                    <img src="~/images/@star.Movie.Img">
                    <h6>@star.Movie.Title</h6>
                </a>
            </div>
        }

    </div>
}

<div class="clear"></div>

@if (Model.ListOfTVShows.Count() > 0)
{

    <div class="details-cast">

        <h5>TV Shows</h5>

        @foreach (var star in Model.ListOfTVShows)
        {

            <div class="details-cast-img">
                <a asp-controller="TVShow" asp-action="Details" asp-route-id="@star.TVShow.TVShowId">
                    <img src="~/images/@star.TVShow.Img">
                    <h6>@star.TVShow.Title</h6>
                </a>
            </div>
        }

    </div>
}

    <div class="clear"></div>

    <div class="margin-top-footer">
        <a asp-action="Edit" asp-route-id="@Model.StarId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
