@model Kino.Models.Kino.StarModel.StarViewModel

@{
    ViewData["Title"] = "Details";
    var imgPath = "~/Images/" + (Model.Star.ImageUrl ?? "NoImage.png");
}


<ol class="breadcrumb" style="background-color: transparent;">
    <li><a asp-action="Index">Stars</a></li>
    <li class="active">Details</li>
</ol>


<div class="details-container">

    <div class="details-title">
        @Html.DisplayFor(model => model.Star.FullName)
    </div>

    <div class="details-img">
        <img src="@imgPath" asp-append-version="true" />
    </div>

    <div class="details-info">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Star.Birth)
            </dt>
            <dd>
                @Model.Star.Birth.ToLongDateString()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Star.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Star.Description)
            </dd>
        </dl>
    </div>
    <div class="clear"></div>
</div>

@if (Model.Star.ListOfMovies.Count() > 0)
{
    <div class="details-cast">

        <h5>Movies</h5>

        @foreach (var star in Model.Star.ListOfMovies)
        {

            <div class="details-cast-img">
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@star.Movie.MovieId">
                    <img src="~/images/@star.Movie.ImageUrl">
                    <h6>@star.Movie.Title</h6>
                </a>
            </div>
        }

    </div>
}

<div class="clear"></div>

@if (Model.Star.ListOfTVShows.Count() > 0)
{

    <div class="details-cast">

        <h5>TV Shows</h5>

        @foreach (var star in Model.Star.ListOfTVShows)
        {

            <div class="details-cast-img">
                <a asp-controller="TVShow" asp-action="Details" asp-route-id="@star.TVShow.TVShowId">
                    <img src="~/images/@star.TVShow.ImageUrl">
                    <h6>@star.TVShow.Title</h6>
                </a>
            </div>
        }

    </div>
}

    <div class="clear"></div>

    <div class="margin-top-footer">
        <a asp-action="Edit" asp-route-id="@Model.Star.StarId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
