@model Kino.Models.Kino.StarModel.StarViewModel

@{
    ViewData["Title"] = "Stars";
}

<body>

    <div style="color: grey; font-size: 15px; font-weight: bold;">@TempData["Message"]</div>

    <div class="sort-options">
        <p>Sort by:</p>
        <a asp-controller="Star" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
        <a asp-controller="Star" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Birth</a>
    </div>

    <div class="container">

        <p class="create-button">
            <a asp-action="Create">Create New</a>
        </p>


        @foreach (var item in Model.Stars)
        {
            var imgPath = "~/Images/" + (item.ImageUrl ?? "NoImage.png");

            <div class="star-index">
                <div class="star-image">
                    <a asp-action="Details" asp-route-id="@item.StarId"><img src="@imgPath" asp-append-version="true" /> </a>
                </div>
                <div class="star-text">
                    <div class="star-text-content">
                        <h5><a asp-action="Details" asp-route-id="@item.StarId">@item.FullName</a></h5>
                        @if (item.Description != null && item.Description.Length > 150)
                        {
                            <p>
                                @Html.Raw(item.Description.Substring(0, 150) + "...")
                                <a asp-action="Details" asp-route-id="@item.StarId">See more</a>
                            </p>

                        }
                        else
                        {
                            <p>@item.Description</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</body>


