@model Kino.Models.Kino.TVIndexModel

@{
    ViewData["Title"] = "TVShows";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>


<body>

    <div class="container">

        <p class="create-button">
            <a asp-action="Create">Create New</a>
        </p>

        @foreach (var item in Model.TVShows)
        {
            var imgPath = "~/Images/" + (item.Img ?? "banner1.svg");

            <div class="box">
                <a asp-action="Details" asp-route-id="@item.TVShowId">

                    <img src="@imgPath" asp-append-version="true" />
                    <div class="box-content">
                        <h3 class="genre-title">
                            @{
                                foreach (var genre in item.ListOfGenres)
                                {
                                    @genre.Genre.Name @:
                                }
                            }
                        </h3>
                        <span class="title">@item.Title</span>
                        <span class="year">@item.ReleaseDate</span>

                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fa fa-link"></i></a>

                    </div>

                </a>
            </div>
        }

    </div>

</body>



