@model Kino.Models.Kino.MovieIndexModel

@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Release date
            </th>
            <th>
                Runtime
            </th>
            <th>
                Genre
            </th>
            <th>
                Stars
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies) {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.MovieId">
                            @item.Title
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Runtime) min
                    </td>
            
                    <td>
                        @{
                            foreach (var genre in item.ListOfGenres)
                            {
                                @genre.Genre.Name @: 
                            }
                        }
                    </td>
                    <td>
                        @{ 
                            foreach (var star in item.ListOfStars)
                            {
                                <a asp-controller="Star" asp-action="Details" asp-route-id="@star.StarId">
                                    @star.Star.FullName
                                </a>
                            }   
                        }
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
