@model IEnumerable<Model.Director>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <div class="container">

        <p class="create-button">
            <a asp-action="Create">Create New</a>
        </p>


        @foreach (var item in Model)
        {
            var imgPath = "~/Images/" + (item.Img ?? "banner1.svg");

            <div class="star-index">
                <div class="star-image">
                    <a asp-action="Details" asp-route-id="@item.DirectorId"><img src="@imgPath" asp-append-version="true" /> </a>
                </div>
                <div class="star-text">
                    <div class="star-text-content">
                        <h5><a asp-action="Details" asp-route-id="@item.DirectorId">@item.FullName</a></h5>
                        @if (item.Description.Length > 150)
                        {
                            <p>
                                @Html.Raw(item.Description.Substring(0, 150) + "...")
                            <a asp-action="Details" asp-route-id="@item.DirectorId">See more</a>
                        </p>

                    }
                    else
                    {
                        <p>@item.Description</p>
                    }
                    </div>
                </div>
            </div>
        }
    </div>

</body>


